<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 text-center">
            <img src="/assets/img/ab-img.png" class="img-fluid" alt="clipart of a person with a laptop" style="width: 400px;">
        </div>
        <div class="col-sm-12 col-md-6">
            <div>
                <h3 class="fw-bold text-center mt-3 font-monospace" style="line-height: 150%;">About Me</h3>
                <p class="px-3 font-monospace">My name is Raymond Ato Ghanney a software engineer with
                    specialized skills in a wide range of technological tools.
                    I have always been fascinated about computers the first time I saw them
                    and through out my proffessional life I've always made sure to make
                    computers as useful to people as possible. My Curosity has lead me into
                    using a variety of tech stack. My tech Stacke are:
                </p>
            </div>
            <div>
                <ul class="py-3 d-flex">
                    <li class="mx-1">
                        <span> <a class="a-cust" href="https://rubyonrails.org/">Ruby on rails</a> </span>
                    </li>
                    <li class="mx-1">
                        <span> <a class="a-cust" href="https://react.dev">React</a> </span>
                    </li>
                    <li class="mx-1">
                        <span> <a class="a-cust" href="https://www.mysql.com/">Mysql</a> </span>
                    </li>
                    <li class="mx-1">
                        <span> <a class="a-cust" href="https://expressjs.com/">Express</a> </span>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <a class="btn btn-custom" href="https://docs.google.com/document/d/1mw0JvqM45s5SsDlerEW5t6LohilnKv51/edit?usp=sharing&ouid=115093545403318067456&rtpof=true&sd=true" target="_blank">
                    {{ "Cv link" | upcase}} <span class="bi bi-download px-2 fs-4"></span> 
                </a>
            </div>
        </div>
    </div>
</div>