<div class="">
    <div class="row">
        <div class="col">
            <img src="/assets/img/ab-img.png" alt="clipart of a person with a laptop" style="width: 400px;">
        </div>
        <div class="col">
            <h3 class="fw-bold">About Me</h3>
            <p class="">My name is Raymond Ato Ghanney a software engineer with
                highky specialize skills in a wide range of technological tools.
                I have always been fascinated about computers the first time I saw them
                and through out my proffessional life I've always made sure to make
                computers as useful to people as possible. My Curosity has lead me into
                using a variety of tech stack. My tech Stacke are:
            </p>
            <div>
                <ul class="d-flex">
                    <li>
                        <span class="">Node Js</span>
                    </li>
                    <li>
                        <span>Ruby</span>
                    </li>
                    <li>
                        <span>Mysql</span>
                    </li>
                    <li>
                        <span>Rust</span>
                    </li>
                    <li>
                        <span>Postgresql</span>
                    </li>
                    <li>
                        <span>JavaScript</span>
                    </li>
                    <li>
                        <span>java</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>