<div class="container text-center">
    <div class="row font-monospace">
        <div class="col-md-6">
            <h4 class="fw-bold"> {{"Education" | upcase}} </h4>
            <div class="text-start p-2 bg-progress-sh">
                <p class="fw-bold">HND. in Computer Science</p>
                <p>Ho Technical University</p>
                <p>2017 - 2020</p>
            </div>

            <div class="text-start p-2 my-2 bg-progress-sh my-5">
                <p class="fw-bold">Winneba Senior High School</p>
                <p>2011 - 2014</p>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="fw-bold  my-3"> {{"Work Experience" | upcase}} </h4>
            <div class="text-start p-2 bg-progress-sh">
                <p class="fw-bold">Truama And Specialist Hospital</p>
                <p>Internship</p>
                <p>2018</p>
            </div>
            <div class="text-start p-2 my-2 bg-progress-sh my-5">
                <p class="fw-bold">University of Education, Winneba</p>
                <p>National Service</p>
                <p>2020 - 2021</p>
            </div>
        </div>
    </div>
</div>