<div class="container text-center">
    <div class="row">
        <div class="col">
            <p class="">Raymond Ato Ghanney</p>
        </div>
        <div class="col">
            <span class="bi bi-twitter mx-1"> <a class="a-cust" href="#">Twitter</a> </span>
            <span class="bi bi-github mx-1"> <a class="a-cust" href="#">Github</a> </span>
            <span class="bi bi-youtube"> <a class="a-cust" href="http://www.youtube.com/@DevBrayn">Youtube</a></span>
        </div>
    </div>
</div>