<nav class="navbar navbar-expand-lg mb-5 border-cust" style="background-color: white;">
    <div class="container-fluid">
      <button class="btn d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="bi bi-list fs-3"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link active" href="#hero">About</a>
          <a class="nav-link active" href="#skills">Skills</a>
          <a class="nav-link active" href="#expe">Experience</a>
          <button class="nav-link active border border-2 border-info" href="https://twitter.com/kwamea236">contact me</button>
        </div>
      </div>
    </div>
</nav>