<div id="hero" class="container text-center">
    <div class="row align-items-center">

        <div class="col order-md-1">
            <div class="img-border mt-3 mb-2">
                <img src="/assets/img/img-1.jpg" alt="jenkins logo">
            </div>
        </div>

        <div class="col order-md-0">
            <div class="">
                <span class="fw-bold"> Hello I'm</span>
            </div>
            <div class="text-start px-3">
                <h1>Raymond Ato Ghanney</h1>
                <h3>Software Engineer</h3>
                <p>Ruby on rails Developer</p>
                <p>Accra, Ghana</p>
                <p> <span class="bi bi-envelope-fill"></span> <a class="a-cust" href="mailto:kwamea236@protonmail.com">kwamea236@protonmail.com</a> </p>
                <div>
                    <span class="bi bi-github"> <a class="a-custom" href="https://github.com/kwamea236">Github</a> </span>
                    <span class="bi bi-twitter-x"> <a class="a-custom" href="https://twitter.com/kwamea236">Twitter</a> </span>
                </div>
            </div>
        </div>
    </div>
</div>