<div id="hero" class="">
    <div class="row container">
        <div class="col">
            <div class="text-center">
                <span class="fw-bold"> Hello I'm</span>
            </div>
            <div class="text-start">
                <h1>Raymond Ato Ghanney</h1>
                <h3>Software Engineer</h3>
                <p>Ruby Developer Expect</p>
                <p>Accra, Ghana</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <img src="/assets/img/logo.svg" alt="jenkins logo" style="width: 200px;">
            </div>
        </div>
    </div>
</div>