<div id="skills">
    <div class="text-center">
        <h1>{{"My Skills" | upcase}}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4 class="fw-bold font-monospace text-center my-3">{{"Technical skills" | upcase}}</h4>
                <div class="row font-monospace text-center">
                    <!--================ First Flex ===============-->
                    <div class="col-3 m-3">
                        <img src="/assets/img/ruby.png" alt="" style="width: 50px;">
                        <div class="fs-2">Ruby</div>
                    </div>
                    <div class="col-3 m-3">
                        <img src="/assets/img/java.svg" alt="" style="width: 50px;">
                        <div class="fs-2">Java</div>
                    </div>
                    <div class="col-3 m-3">
                        <img src="/assets/img/node.svg" alt="" style="width: 50px;">
                        <div class="fs-2">Nodejs</div>
                    </div>
                        <!--================ Second Flex ===============-->
                    <div class="col-3 m-3">
                        <img src="/assets/img/laravel.svg" alt="" style="width: 50px;">
                        <div class="fs-2">Laravel</div>
                    </div>
                    <div class="col-3 m-3">
                        <img src="/assets/img/rust.png" alt="" style="width: 50px;">
                        <div class="fs-2">Rust</div>
                    </div>
                    <div class="col-3 m-3">
                        <img src="/assets/img/elixir.svg" alt="elixir logo" style="width: 50px;">
                        <div class="fs-4">Elixir</div>
                    </div>
                    <div class="col-3 m-3">
                        <img src="/assets/img/mysql.png" alt="" style="width: 50px;">
                        <div class="fs-4">Mysql</div>
                    </div>
                    <div class="col-3 m-3">
                        <img src="/assets/img/javascript.png" alt="" style="width: 50px;">
                        <div class="fs-4">Javascript</div>
                    </div>
                </div>

                <div class="my-5 row font-monospace">
                    
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div>
                    <h4 class="fw-bold font-monospace my-3">{{"Professional Skills" | upcase}}</h4>
                </div>

                <div class="font-monospace">
                    <div class="my-5">
                        <div>
                            <span class="fs-5">Team Work</span>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="my-5">
                        <div><span class="fs-5 mb-3">Creative</span> </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="my-5">
                        <div><span class="fs-5">Good Communication</span></div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="my-5">
                        <div><span class="mx-1 fs-5">Public speaking</span></div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
