@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    overflow-x: hidden !important;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    position: relative;
    display: block;

}

li span{
    border: 1px solid #5FBDFF;
    padding: 4px 10px;
    border-radius: 4px;
}

li{
    list-style-type: none;
}

.button{
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    padding: .75rem 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #0f0f0f;
    transition: all .2s ease-in-out;
    background-color: #5FBDFF;
    border: 1px solid #0f0f0f;
    box-shadow: 6px 6px 0 #0f0f0f;
    border-radius: 4px;
    position: relative;
    top: -6px;
    left: -6px;
}

.button:hover{
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: unset;
}

.btn-custom{
    padding: 1rem 4rem;
    border: 1px solid teal;
    text-decoration: none;
    color: black;
}

.bg-progress{
    background-color: #5FBDFF; 
    border: 1px solid black;
}

.bg-progress-sh{
    background-color: #5FBDFF; 
    border: 1px solid black;
    box-shadow: 6px 6px 0 black;
}

.border-cust{
    border-bottom: 5px solid #5FBDFF;
}

.img-border img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid rgba(0, 0, 0, 0.1);
}

.a-custom{
    color: black;
}

.a-cust{
    color: black;
    text-decoration: none;
}

.my{
    margin-top: 100px;
}

.mont{
    font-family: 'Montserrat', sans-serif;
}

.fade-in-item{
    animation: fadeIn 0.5s;
}

@keyframes fadeIn{
    0% { opacity: 0;}
    100% {opacity: 1;}
}

.my-border{
    border: 1px solid black;
}

.neg-mx{
    margin-right: 30px;
}

@media only screen and (min-width: 993px) {
    .md-mx{
        margin-left: 20%;
        margin-right: 20%;
    }
}

.gray-text{
    color: rgba(26, 25, 25, 0.774);
}
